@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============ RESET ============ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}


:root{
    font-size: 62.5%;
    /* Variables */
    --bg-color: #111014;
    --light-text: #eeeeee;
    --primary-color: #e7e7e7;
    --line-color: rgba(77, 77, 77, 0.952);
    --container-width:clamp(24rem, 60rem, 100%);
}

/* ============ Global Styles ============ */

body{
    min-height: 100vh;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Poppins';
    background-color: var(--bg-color);
    color: var(--light-text);
}

main{
    display: flex;
}

/* ============ Scroll Reset Style ============ */

body::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.4rem;
    cursor: none;
}

body::-webkit-scrollbar-track{
    background: transparent;
    padding: 2px;
    
}

body::-webkit-scrollbar-thumb{
    background: #FFD200;
    border-radius: 8px;
    cursor: none;

}

/* ============ Footer ============ */

footer{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-align: justify;
}

/* ============ Utilities ============ */

.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#e4e4e4 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99999;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(3px);
}

.none{
    display: none;
}

@keyframes l7 {
  0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
  20% {background-size: 20% 20% ,20% 50% ,20% 50% }
  40% {background-size: 20% 100%,20% 20% ,20% 50% }
  60% {background-size: 20% 50% ,20% 100%,20% 20% }
  80% {background-size: 20% 50% ,20% 50% ,20% 100%}
  100%{background-size: 20% 50% ,20% 50% ,20% 50% }
}

/* ============ Titles ============ */

.title{
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
}

.title span{
    color: #FFD200;
    font-style: italic;
}