@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Pages */
@import url("./pages/home.css");
@import url("./pages/session.css");


/* Components */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}


:root{
    font-size: 62.5%;
    /* Variables */
    --bg-color: #111014;
    --light-text: #eeeeee;
    --primary-color: #e7e7e7;
    --line-color: rgba(77, 77, 77, 0.952);
    --container-width:clamp(24rem, 60rem, 100%);
}


/* Scrollbar */

.files-container::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.4rem;
    cursor: none;
}

.files-container::-webkit-scrollbar-track{
    background: transparent;
    padding: 2px;
    
}

.files-container::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.329);
    border-radius: 8px;
    cursor: none;

}

body::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.4rem;
    cursor: none;
}

body::-webkit-scrollbar-track{
    background: transparent;
    padding: 2px;
    
}

body::-webkit-scrollbar-thumb{
    background: #FFD200;
    border-radius: 8px;
    cursor: none;

}

body{
    min-height: 100vh;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Poppins';
    background-color: var(--bg-color);
    color: var(--light-text);
}


/* Components */

.msg{
    width: fit-content;
    background-color: rgba(46, 46, 46, 0.836);
    padding: .5rem 1.2rem;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.msg.success{
    border: 1px solid greenyellow;
    color: greenyellow;
}

.msg.error{
    border: 1px solid red;
    color:red;
}

.msg-hidden{
    transition: all .23s ease-in-out;
    opacity: 0;
}

/* Footer */

footer{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-align: justify;
}

@media (max-width:1078px) {

    main#session{
        padding: 2rem;
    }

    section#file-section{
        flex-direction: column;
    }

    section#file-section .wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section#file-section .wrapper:nth-last-child(1){
        width: 100%;
    }


    .slide-bar{
        flex-direction: column;
        padding: .5rem;
        gap: .5rem;
        border-radius: 16px;
        
        .box{
            width: 100%;
            padding: 1rem;
            border-radius: 12px;
        }
    }

    .files-container,
    .slide-bar,
    .upload-container{
        width: 100%;
    }
    
    .files-container{
        max-height: 100%;
    }
    
    .input-wrapper .wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        button{
            width: auto;
        }
                
    }
    
    .data-container{
        flex-direction: column;
        align-items: center;
    }

    .container-box{
        width: max-content !important;
    }

    .container-box button{
        width: fit-content !important;
    }
    
}


.data-container{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    width: 100%;
}

.container-box{
    height: 100%;
    width: 45rem;
    border-radius: 3.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #1f1f1f;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.39);
    margin-bottom: 2rem;

    button{
        width: 16rem;
    }
}

.data-wrapper{
    font-size: 1.4rem;

    span{
        color: #c9c9c9ab;
        margin-bottom: 1rem;
        font-weight: 400;
    }

    .info{
        margin-bottom: 1rem;
        color: white;
    }
    
    i{
        color: rgb(226, 64, 0);
    }
    
}


img.qrcode{
    border-radius:2px;
    width: auto;
    height: 100%;
    transition: all .23s ease-in-out;
    border: 5px solid #1d1d1d;
    border-radius: 20px;
}

header{
    height: 6rem;
    background-color: rgb(53, 53, 53);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.session-data{
    font-size: 1.4rem;
    display: flex;
    gap: 2rem;
}

.time-wrapper{
    display: flex;
    align-items: center;
    gap: .6rem;
}


/* loader */

.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#e4e4e4 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99999;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(3px);
}

.none{
    display: none;
}

@keyframes l7 {
  0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
  20% {background-size: 20% 20% ,20% 50% ,20% 50% }
  40% {background-size: 20% 100%,20% 20% ,20% 50% }
  60% {background-size: 20% 50% ,20% 100%,20% 20% }
  80% {background-size: 20% 50% ,20% 50% ,20% 100%}
  100%{background-size: 20% 50% ,20% 50% ,20% 50% }
}