
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.forms-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.input-wrapper .wrapper{
    display: flex;
    gap: 1rem;

    input{
        flex: 1;
    }

    button{
        width: fit-content;
    }
    
}

label{
    color: rgb(187, 187, 187);
}

input,
button{
    all: unset;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 12px;
    height: 3.2rem;
    padding: .4rem 1.2rem;
    transition: all .23s ease-in-out;
    color: inherit;
}

input{
    border: 1px solid transparent;
}

button,
label,
input{
    cursor: pointer;
}

input:focus{
    border: 1px solid var(--primary-color);
    outline: .32rem solid rgba(255, 255, 255, 0.13);
    outline-offset: .5px;
}

/* ============ Form Media Queries ============ */

@media (max-width:1078px) {

    .input-wrapper .wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        button{
            width: auto;
        }
                
    }
}