.msg{
    width: fit-content;
    background-color: rgba(46, 46, 46, 0.836);
    padding: .5rem 1.2rem;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.msg.success{
    border: 1px solid greenyellow;
    color: greenyellow;
}

.msg.error{
    border: 1px solid red;
    color:red;
}

.msg-hidden{
    transition: all .23s ease-in-out;
    opacity: 0;
}
