main#home{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

/* ============ SVG Illustration ============ */

.main-image{
    height: auto;
    width: 40%;
}

/* ============ Main Container ============ */

.container{
    min-height: 80vh;
    width: var(--container-width);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.vertical-line{
    width: 100%;
    height: .1rem;
    background-color: var(--line-color);
    margin: 3.2rem 0;
    border-radius: 20px;
    position: relative;
}

/* ============ Home Media Queries ============ */

@media (max-width:1078px) {

    main#home{
        flex-direction: column;
        min-height: 100vh;
        gap: 0;
    }

   .main-image{
        height: 35vh;
        width: auto;
    }

}