
main#session{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 2rem 4rem;
}

.logo{
    font-size: 2.6rem;
    font-style: italic;
    color: #FFD200;
    cursor: pointer;
    transition: all .23s ease-in-out;
    height: fit-content;
    
    span{
        font-weight: 900;
    }
    
    
}

.logo:hover{
    font-weight: 900;

}

/* Session Page */

.title-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title2{
    font-size: 2rem;
    font-weight: 400;
}

.title3{
    font-size: 1.6rem;
    font-weight: 300;
    color: #afafaf;
}

.upload-container{
    height: 100%;
    width: 100%;
    border-radius: 3.5rem;
    border: 1px solid var(--line-color);
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.transfer-box{
    border: .26rem dashed var(--line-color);
    border-radius: 3.5rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .23s ease-in-out;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.4rem;
    position: relative;
}

.transfer-box:hover{
    border-color: white;
    border-radius: 1rem;
}

.transfer-box i{
    font-size: 3.6rem;
    color: #6e6e6e;
    margin: 0 0 2rem 0;
}

.transfer-box span{
    color: #6e6e6e;
    margin: 0 0 2rem 0;
}

#file-input{
    opacity: 0;
    position: absolute;
    inset: 0;
    height: 100%;
}


.slide-bar{
    background-color: var(--line-color);
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    padding: .2rem;
    gap: .4rem;
}

.slide-bar .box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    padding: 0 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
    transition: all .23s ease-in-out;
}

.slide-bar .box:hover{
    background-color: rgba(255, 255, 255, 0.103);
}

.slide-bar .box.active{
    background-color: #FFD200;
    color: #111014;
}

.files-container{
    margin-top: 2rem;
    width: 100%;
    min-height: 40vh;
    max-height: 55vh;
    overflow-y: auto;
    border-radius: 3.5rem;
    border: 1px solid var(--line-color);
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

section#file-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

section#file-section .wrapper{
    display: flex;
    flex-direction: column;
}


section#file-section .wrapper:nth-child(1){
    flex: 1;
}

section#file-section .wrapper:nth-last-child(1){
    width: 55%;
}

.file-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.file-box{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .23s ease-in-out;
    gap: 1rem;
    border-bottom: 1px solid #6e6e6e;
    
    p{
        font-size: 1.4rem;
        word-break: break-all;
    }

    i{
        font-size: 2rem;
    }
}

.file-box:hover{
    background-color: #3d3d3d;
    border-radius: 6px;
    border-color: transparent;
}
